<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoH4rnnS22uquHGMabkYSS_1t-XEl7EMw</string>
	<key>GCM_SENDER_ID</key>
	<string>1062536444383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gridmetrix.MetrixaGrid</string>
	<key>PROJECT_ID</key>
	<string>metrixagrid</string>
	<key>STORAGE_BUCKET</key>
	<string>metrixagrid.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062536444383:ios:2dcc1c7dd76eec812dac6a</string>
</dict>
</plist>